{{extend 'layout.html'}}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card">
                <div class="card-header">
                    <h3>Edit {{=flyer_label}}: {{=flyer.title}}</h3>
                </div>
                <div class="card-body">
                    {{=form}}
                </div>
                <div class="card-footer">
                    <a href="{{=URL('flyers')}}" class="btn btn-secondary">
                        <i class="fa fa-arrow-left"></i> Cancel
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

