{{extend 'layout.html'}}

<script>
jQuery(document).ready(function(){
    jQuery("table.sortable tbody tr").mouseover(function() {
        jQuery(this).addClass("highlight");
    }).mouseout(function() {
        jQuery(this).removeClass("highlight");
    });
    jQuery('table.sortable tbody tr:odd').addClass('odd');
    jQuery('table.sortable tbody tr:even').addClass('even');
});
</script>

<div class="row">
  <div class="col-md-12">

  {{if request.function=='index':}}
    <h2>{{=T("Available Databases and Tables")}}</h2>
<div class="my-3">
  <a class="btn btn-info" href="{{=URL('mfilist')}}">View MFIs</a>
</div>
    <!-- Quick Create MFI button -->
    <div class="my-3">
      <a class="btn btn-success" 
         href="{{=URL('appadmin', 'insert', args=[list(databases.keys())[0], 'mfi'])}}">
        + Add New MFI
      </a>
    </div>

    {{if not databases:}}
      {{=T("No databases in this application")}}
    {{pass}}

    <ul class="nav nav-tabs" id="myTab">
      <li class="nav-item"><a href="#alltables" data-toggle="tab" class="nav-link active">Tables</a></li>
      <li class="nav-item"><a href="#hooks" data-toggle="tab" class="nav-link">Hooks</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="alltables">
        <table class="table table-striped">
          {{for db in sorted(databases):}}
            {{for table in databases[db].tables:}}
              {{qry='%s.%s.id>0'%(db,table)}}
              {{tbl=databases[db][table]}}
              {{if hasattr(tbl,'_primarykey') and tbl._primarykey:}}
                {{firstkey=tbl[tbl._primarykey[0]]}}
                {{if firstkey.type in ['string','text']:}}
                  {{qry='%s.%s.%s!=""'%(db,table,firstkey.name)}}
                {{else:}}
                  {{qry='%s.%s.%s>0'%(db,table,firstkey.name)}}
                {{pass}}
              {{else:}}
                {{qry=''}}
              {{pass}}
              <tr>
                <th style="font-size: 1.75em;">
                  &raquo; {{=A("%s.%s" % (db,table), _href=URL('select', args=[db], vars=dict(query=qry)))}}
                </th>
                <td>
                  {{=A(str(T('New Record')), _href=URL('insert', args=[db, table]), _class="btn btn-primary")}}
                </td>
              </tr>
            {{pass}}
          {{pass}}
        </table>
      </div>

      <div class="tab-pane" id="hooks">
        {{=LOAD('appadmin', 'hooks', ajax=True)}}
      </div>
    </div>

  {{elif request.function=='select':}}
    <h2>{{=XML(str(T("Database %s select")) % A(request.args[0], _href=URL('index'))) }}</h2>

    {{if tb:}}
      <h3>{{=T('Traceback')}}</h3>
      <pre>{{=tb}}</pre>
    {{pass}}

    {{if table:}}
      {{=A(str(T('New Record')), _href=URL('insert', args=[request.args[0], table]), _class="btn btn-primary", _role="button")}}<br/><br/>
      <hr />
      <h3>{{=T("Rows in Table")}}</h3><br/>
    {{else:}}
      <h3>{{=T("Rows selected")}}</h3><br/>
    {{pass}}

    {{=form}}
    <p class="text-muted">
      {{=T('The "query" is a condition like "db.table1.field1==\'value\'". Something like "db.table1.field1==db.table2.field2" results in a SQL JOIN.')}}
      <br/>
      {{=T('Use (...)&(...) for AND, (...)|(...) for OR, and ~(...)  for NOT to build more complex queries.')}}
      <br/>
      {{=T('"update" is an optional expression like "field1=\'newvalue\'". You cannot update or delete the results of a JOIN')}}
    </p>

    <br/><br/>
    <h4>{{=T("%s selected", nrows)}}</h4>
    {{if start>0:}}
      {{=A(T('previous %s rows') % step, _href=URL('select', args=request.args[0], vars=dict(start=start-step)), _class="btn btn-primary")}}
    {{pass}}
    {{if stop<nrows:}}
      {{=A(T('next %s rows') % step, _href=URL('select', args=request.args[0], vars=dict(start=start+step)), _class="btn btn-primary")}}
    {{pass}}

    {{if rows:}}
      <div style="overflow:auto; width:80%;">
        {{linkto = lambda f, t, r: URL('update', args=[request.args[0], r, f]) if f else "#"}}
        {{upload=URL('download', args=request.args[0])}}
        {{=SQLTABLE(rows, linkto, upload, orderby=True, query=query, _class='table table-striped table-bordered sortable')}}
      </div>
    {{pass}}

    <br/><br/><hr />
    <h3>{{=T("Import/Export")}}</h3><br/>
    <a href="{{=URL('csv', args=request.args[0], vars=dict(query=query))}}" class="btn btn-primary">{{=T("export as csv file")}}</a>
    {{=formcsv or ''}}

  {{elif request.function=='insert':}}
    <h2>{{=T("Database")}} {{=A(request.args[0], _href=URL('index'))}}
      {{if hasattr(table,'_primarykey'):}}
        {{fieldname=table._primarykey[0]}}
        {{dbname=request.args[0]}}
        {{tablename=request.args[1]}}
        {{cond = table[fieldname].type in ['string','text'] and '!=""' or '>0'}}
        {{=T("Table")}} {{=A(tablename, _href=URL('select', args=dbname, vars=dict(query='%s.%s.%s%s'%(dbname, tablename, fieldname, cond))))}}
      {{else:}}
        {{=T("Table")}} {{=A(request.args[1], _href=URL('select', args=request.args[0], vars=dict(query='%s.%s.id>0'%tuple(request.args[:2]))))}}
      {{pass}}
    </h2>
    <h3>{{=T("New Record")}}</h3><br/>
    {{=form}}

  {{elif request.function=='update':}}
    <h2>{{=T("Database")}} {{=A(request.args[0], _href=URL('index'))}}
      {{if hasattr(table,'_primarykey'):}}
        {{fieldname=list(request.vars.keys())[0]}}
        {{dbname=request.args[0]}}
        {{tablename=request.args[1]}}
        {{cond = table[fieldname].type in ['string','text'] and '!=""' or '>0'}}
        {{=T("Table")}} {{=A(tablename, _href=URL('select', args=dbname, vars=dict(query='%s.%s.%s%s'%(dbname, tablename, fieldname, cond))))}}
        {{=T("Record")}} {{=A('%s=%s'%request.vars.items()[0], _href=URL('update', args=request.args[:2], vars=request.vars))}}
      {{else:}}
        {{=T("Table")}} {{=A(request.args[1], _href=URL('select', args=request.args[0], vars=dict(query='%s.%s.id>0'%tuple(request.args[:2]))))}}
        {{=T("Record id")}} {{=A(request.args[2], _href=URL('update', args=request.args[:3]))}}
      {{pass}}
    </h2>
    <h3>{{=T("Edit current record")}}</h3><br/><br/>
    {{=form}}

    
{{elif request.function=='mfilist':}}
<h2>Registered MFIs</h2>

<a class="btn btn-success my-3"
   href="{{=URL('appadmin', 'insert', args=[list(databases.keys())[0], 'mfi'])}}">
    + Add New MFI
</a>

<table class="table table-striped table-bordered sortable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Country</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{for r in rows:}}
            <tr>
                <td>{{=r.id}}</td>
                <td>{{=r.name}}</td>
                <td>{{=r.country or ""}}</td>
                <td>
                    <a class="btn btn-primary btn-sm"
                       href="{{=URL('appadmin','mfiedit',args=[r.id])}}">
                        Edit
                    </a>
                </td>
            </tr>
        {{pass}}
    </tbody>
</table>

    
    
    {{elif request.function=='mfiedit':}}
<h2>Edit MFI</h2>

<a class="btn btn-secondary my-3"
   href="{{=URL('appadmin','mfilist')}}">
   ← Back to MFI list
</a>

{{=form}}

    
  {{pass}} <!-- end of request.function checks -->

  </div> <!-- col-md-12 -->
</div> <!-- row -->
